<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script type="text/javascript" src="/js/mdtex.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/default.css">
	</head>
	<body>
		{% include header.ext %}

		<nav>
			{% for page in site.nav_list %}
				<a href="{{ page[0] }}">{{ page[1] }}</a>
			{% endfor %}
		</nav>
		{{ content }}
		{% include footer.ext %}
	</body>
</html>